<table class="result-page">
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <div class="row row-center" align="center">
        <div class="col" align="center">

          <!-- logo -->
          <div align="center" class="div-middle">
            <div align="center">
              <img src="img/sita-logo.png" class="logo-img" align="center">
            </div>
          </div>
          <div class="spacer" style="height: 45px;"></div>

          <!-- label Welcome -->
          <div style="width: 100%;" align="center">
            <span align="center" class="welcome label">WELCOME TO SITA </span><br/>
          </div>
          <div class="spacer" style="height: 25px;"></div>




          <!-- label power by -->
          <div class="div-footer-check">
            <span align="center" class="welcome label">power by Gabriel Santos.</span><br/>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
